@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}:root {
  --color-main: #0fa3b1;
  --color-soft-main: #2bbfcc;
  --color-secondary: #f7a072;
  --color-soft-secondary: rgb(255, 234, 215);
  --color-neutral: #f9f7f3;
  --font-main: 'Quicksand', sans-serif;
  --font-secondary: 'Nunito', sans-serif;
}
html {
    font-size: 10px;
    font-family: var(--font-main);
    scroll-behavior: smooth;
    background-color: var(--color-neutral);
    color: var(--color-main);
}
a {
    text-decoration: none;
}

.container {
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    play-during: repeat;
}
p {
    color: var(--color-main);
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    text-align: justify;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
body {
    font-size: 18px;
    line-height: 1.42857143;
}

.cta:hover {
    color: var(--color-main);
    background-color: var(--color-secondary);
}
.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--color-main);
}
.brand h1 span {
    color: var(--color-secondary);

}


.download-link p{
    color : var(--color-neutral);
    margin-top: 60px;
    position: relative;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-secondary);
    background-color: var(--color-soft-main);
    border-radius: 5px;
    padding: 12px 25px;
    text-align: center;
}

.section-title {
    font-size: 4rem;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
    text-align: center;

}
.section-title span {
    color: var(--color-secondary);

}



/* Header section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .brand h1{
 color: var(--color-neutral);
}

#header .header {
    min-height: 8vh;
    background-color: var(--color-main);
    transition: 0.3s ease background-color;
}
#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    padding: 0 50px;
}
#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
    padding: 0 50px;
}
#header .nav-list ul.active {
    left: 0%;
}
#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: var(--color-neutral);
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a {
    color: var(--color-secondary);
}
#header .hamburger {
    height: 60px;
    width: 60px;
    border: 3px solid var(--color-main);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
}
#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid var(--color-main);
}
#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: var(--color-main);
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: var(--color-main);
    transition: 0.3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after {
    top: 8px;
}
#header .hamburger .bar::before {
    bottom: 8px;
}
#header .hamburger.active .bar::before {
    bottom: 0;
}
#header .hamburger.active .bar::after {
    top: 0;
}
/* End Header section */



#hero {
    background-image: url(../Image/UnchainedCover.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: scroll;
    position: relative;
    z-index: 1;
}

#hero .container{
    min-height: 100vh;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
    justify-content: flex-start;
}

#overview {
margin-top: 0.5vh;
}
#overview .overview {
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 0;
    background-size: cover;
}
#overview .overview-quick{
    display: flex;
    flex-direction: row;
    justify-content: center; /* ou center / flex-start selon besoin */
    align-items: flex-start;
    gap: 40px; /* optionnel : espace entre les colonnes */
}
#overview .overview-header {
    margin-bottom: 10px;
    color : var(--color-main);
    font-family: var(--font-secondary);
    font-weight: 400;
}
#overview .h1{
    color: var(--color-main);
}
#overview .overview-facts-container{
    margin: 0;
    padding: 20px;
    background-color: var(--color-secondary);
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
}
#overview .overview-facts-cell {
    padding: 5px;
    color:var(--color-soft-secondary);
}
#overview .overview-facts-cell span{
    color: var(--color-neutral);
    font-weight: bold;
}

#overview .overview-resume {
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    width: 70%;
    margin-bottom: 20px;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}
#overview .overview-trailer{
    margin-top: 20px;
    align-items: center;
    display: flex;
    position: relative;
    width: 60%;
}

#overview .overview-trailer-header{
    text-align: left;
    width: 48%;
    padding-top: 60px;
    position: relative;
}
#overview .overview-trailer-header h1{
    color:var(--color-secondary);
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 36px;
}
#overview .overview-trailer-header p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
}
#overview .gif-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-top: 50px;
}
#overview .gif-info{
    width: 50%;
    padding-right: 40px;
}
#overview .gif{
    height: max-content;
    width: 50%;
    align-self: center;
    margin-right: 30px;
}

#overview .details-container p{
    font-size: 18px;
    text-align: left;
    margin: 15px 0;
}
#overview .gif-container p{
    font-size: 18px;
    text-align: left;
    margin: 15px 0;
    text-indent: 30px;
 }

#overview .overview-fullGameplay{
    margin-top: 20px;
    align-items: center;
    display: flex;
    position: relative;
    width: 60%;
}

#overview .details-container{
    text-align: left;
    width: 60%;
    padding: 10px 0;
    position: relative;
}
#overview .details-container h1{
    color:var(--color-secondary);
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 36px;
}

#overview .details-container h2{
    color:var(--color-secondary);
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
}
#overview h3{
    font-family: var(--font-secondary);
    font-size: 20px;
}

#overview .details-container p{
    font-size: 18px;
    text-align: left;
}

#overview .details-img{
    padding: 20px 150px;
}



.section-transition {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
}

.section-transition img {
  max-width: 85%;
  height: auto;
  display: block;
}

/* contact Section */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}
#contact .section-title{
    color: var(--color-secondary);
}
#contact span{
    color: var(--color-main);
}
#contact {
    background-color: var(--color-neutral);
}
#contact .contact-items {
    /* max-width: 400px; */
    align-items: center;
    justify-content: center;
    width: 80%;
}
#contact .section-title
{
    margin-bottom: 50px;
    margin-top: 50px;
}
#contact .contact-item {
    text-align: center;
    border-radius: 10px;
    padding: 40px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-neutral);
    background-image: linear-gradient(90deg, #ffa264 0%, var(--color-secondary) 100%);
}
#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .icon img{
    width: 60px;
}
#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
}

/*End contact Section */


@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title {
        font-size: 6rem;
    }


    /* contact  */
    #contact .section-title
    {
        margin-top: 0px;
    }

    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    #contact .contact-item {
        width: 30%;
        margin: 0;
        flex-direction: row;
    }
    #contact .contact-item .icon {
        height: 100px;
        width: 100px;
    }
    #contact .contact-item .icon img {
        object-fit: contain;
    }
    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    /* End contact  */

    #overviewYlmo .overview-resume {
        font-size: 22px;
        font-weight: 400;
    }

}

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
    /* header */
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li a {
        font-size: 1.8rem;
    }

    #header .nav-list ul a:after {
        display: none;
    }

    #contact .section-title
    {
        margin-top: 0px;
    }

    #overviewYlmo .overview-resume {
        font-size: 22px;
        font-weight: 400;
    }
}
/* End header */
