@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --color-main: #0fa3b1;
  --color-soft-main: #2bbfcc;
  --color-secondary: #f7a072;
  --color-soft-secondary: rgb(255, 234, 215);
  --color-neutral: #f9f7f3;
  --font-main: 'Quicksand', sans-serif;
  --font-secondary: 'Nunito', sans-serif;
}
html {
    font-size: 10px;
    font-family: var(--font-secondary);
    scroll-behavior: smooth;
    text-decoration-line: none;
}

a {
    text-decoration: none;
    font-family: var(--font-secondary);
}
.container {
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p {
    color: var(--color-neutral);
    font-size: 14px;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 400;
    text-align: justify;
    font-family: var(--font-secondary);
}
.section-title {
    font-size: 4rem;
    color: var(--color-secondary);
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
    text-align: center;
    font-family: var(--font-main);
}
.section-title span {
    color: var(--color-main);;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: var(--color-neutral);;
    background-color: transparent;
    border: 2px solid var(--color-main);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
}
.cta:hover {
    color: var(--color-neutral);
    background-color: var(--color-main);
}
.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--color-neutral);
}
.brand h1 span {
    color: var(--color-main);
}

/* Header section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header {
    min-height: 8vh;
    background-color: var(--color-main);;
    transition: 0.3s ease background-color;
}
#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    padding: 0 50px;
}
#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
    padding: 0 50px;
}
#header .nav-list ul.active {
    left: 0%;
}
#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: var(--color-neutral);
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a {
    color: var(--color-main);
}
#header .hamburger {
    height: 60px;
    width: 60px;
    border: 3px solid var(--color-neutral);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
}
#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid var(--color-neutral);
}
#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: var(--color-neutral);
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: var(--color-neutral);
    transition: 0.3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after {
    top: 8px;
}
#header .hamburger .bar::before {
    bottom: 8px;
}
#header .hamburger.active .bar::before {
    bottom: 0;
}
#header .hamburger.active .bar::after {
    top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
    background-image: url(../Image/BackgroundBreak.png);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    background-color: var(--color-neutral);
    position: relative;
    z-index: 1;
}

/*
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}
*/

#hero .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: flex-start;     
    min-height: 100vh;
}

#hero .hero {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: center;
    text-align: left;
}

#hero h2 {
    display: block;
    font-size: 2rem;
    position: relative;
    color: var(--color-secondary);
    padding-bottom: 10px;
    font-family: var(--font-main);
}

#hero h1 {
    display: block;
    font-size: 5rem;
    position: relative;
    color: transparent;
    text-align: left;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: var(--font-main);
}

.hero-details {
    position: relative;
    width: 35%;
    color: var(--color-secondary);
    padding-bottom: 10px;
}

.hero-details p{
    font-size: 2.1rem;
    position: relative;
    color: var(--color-neutral);
    padding-bottom: 10px;
    font-family: var(--font-secondary);
    font-weight: 800;
    line-height: 1.4;
}

.hero-details p span{
    font-style: italic;
    color: var(--color-secondary);
    font-weight: bold;
    font-family: var(--font-main);
}

#hero .hero-button{
    margin :20px;
    margin-left: 0;
    margin-top: 5px;
    padding-top: 5px;
    font-family: var(--font-main);
    transition: 0.3s ease transform;
}
#hero .button-container{
    margin-top: 20px;
}

#hero h3 {
    display: block;
    font-size: 4rem;
    position: relative;
    color: transparent;
    transition: 0.3s ease transform;
    animation: text_reveal_button 3s ease forwards;
    animation-delay: 0.5s;
    font-family: var(--font-secondary);
}

#hero .hero-button h3{
    background: linear-gradient(to right, #f7a172b9 10%, #ffffff00 100%);
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
}

#hero .hero-button:hover h3{
    transform: scale(1.05);
}
#hero .hero-button:hover h3{
    background-color: var(--color-secondary);
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
}
.hero-titles{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#hero h1:nth-child(2) {
    animation-delay: 1s;
}
#hero h1:nth-child(3) {
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 1.5s;
}
#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--color-secondary);
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}#hero h2 span {
     color : var(--color-main);
 }
#hero h1:nth-child(2) span {
    animation-delay: 0.5s;
}
#hero h1:nth-child(3) span {
    animation-delay: 1s;
}


/* End Hero Section */


/* Projects section */
.projects {
    flex-direction: column;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--color-neutral);
    background-size: cover;
}

.projects-header h1 {
    margin-bottom: 20px;
    color : var(--color-secondary);
}

.projects-header-2 h1 {
    margin-bottom: 50px;
    margin-top: 70px;
    color : var(--color-secondary);
}

/* Conteneur principal */
.carousel-wrapper {
    display: flex;
    align-items: Center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 1rem 0;
    position: relative;
  }

.carousel-container {
    overflow: auto;
    flex: 1;
  }

  /* Carrousel avec les projets */
  .projects-carousel {
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    padding: 1rem 0;
  
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE */

    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    scroll-snap-type: x mandatory;
  }
  .projects-carousel::-webkit-scrollbar {
    display: none; /* Chrome */
  }
  
  /* Ligne de projets */
  .projects-track {
    display: flex;
    gap: 10rem;
    padding: 0 1rem;
    scroll-snap-type: x mandatory;
  }
  
  /* Carte projet */
  .project-card {
    width: 335px;        
    height: 635px;          
    background-color: var(--color-secondary);
    border-radius: 50px;
    overflow: hidden;
    color: var(--color-neutral);
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .project-image-wrapper {
    height: 270px;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
  }
  
  .project-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    display: block;
  }
  
  .project-image-wrapper:hover img {
    transform: scale(1.05); 
  }
  
  .project-card img {
    width: 100%;
    height: 45%;  
    object-fit: cover;
    border-radius: 36px;
  }


  .project-card h3 {
    font-size: 3rem;
    margin: 0.5rem 0;
    font-family: var(--font-secondary);
  }


  /* Info Bar */

  .project-info-bar {
    display: flex;
    width: 80%;
    margin: 1rem auto; /* centrée avec marge gauche/droite */
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .project-info-bar .info-left,
  .project-info-bar .info-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    gap: 0.4rem;
    font-size: 1.5rem;
    font-family: var(--font-secondary);
  }
  
  /* Couleurs contrastées */
  .project-info-bar .info-left {
    background-color: var(--color-main);
    color: var(--color-neutral);
    align-items: center;
    display: inline-flex;
  }


  .project-info-bar .info-right {
    background-color: var(--color-soft-main);
    color: var(--color-neutral);
    align-items: center;
    display: flex;
    gap: 0.5rem;
  }
  
  .project-info-bar .info-right a {
    color: var(--color-neutral);
    text-decoration: underline; 
    display: flex;
    align-items: center; 
    height: 100%;
  }

  .project-info-bar .info-right p {
    color: var(--color-neutral);
    display: flex;
    align-items: center; 
    height: 100%;
    margin-bottom: 5px;
  }
  
  .project-info-bar .info-right a:hover {
    text-decoration: underline;
  }

/* Icônes */
.project-info-bar .icon {
    width: 20px;  
    height: 20px;  
    margin-right: 8px; 
  }
  
  /* Texte */
  .project-meta {
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  
  .project-meta h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.4rem;
  }
  
  .project-meta h2 span {
    background: #6c63ff;
    color: var(--color-neutral);
    border-radius: 5px;
    padding: 0.3rem 1rem;
    font-weight: 600;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    margin: 0px 5px;
  }
  
  .project-meta p {
    font-size: 0.9rem;
    color: var(--color-neutral);
    padding: 0 3rem 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
  }

  .card-description {
    text-align: center;
    padding: 0 1rem;
    height: 100px; 
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }
  
  .card-description p {
    text-align: center;
    margin: 0;
    margin-top: 8px;
    font-size: 1.5rem;
    line-height: 1.4;
    color: var(--color-neutral);
    font-family: var(--font-main);
    max-width: 90%;
    font-weight: bold;
  }
  
  /* Flèches */
  .carousel-btn {
    margin-top: .8rem;
    width: 3rem;
    height: 50rem;
    backdrop-filter: blur(6px);
    background-color: transparent;
    color: #fff;
    border: 0px solid var(--color-neutral);
    border-radius: 0.5rem;
    font-size: 12rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.3s;
  }

  .carousel-btn img {
    width: 100px; 
    height: 100px;
  }
  
  .carousel-btn:hover {
    transform: scale(1.05);
  }
  
  .carousel-btn.left {
    left: -40rem; 
  }
  
  .carousel-btn.right {
    right: -40rem;
  }
  
  /* Card Footer */
  .card-footer {
    margin-top: auto;
    padding-top: 1rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .see-more-link {
    color: var(--color-soft-secondary); 
    font-weight: bold;
    font-size: 2rem;
    transition: color 0.3s ease;
    font-family: var(--font-main);
  }
  
  .see-more-link:hover {
    color: var(--color-neutral);
  }

  /* Responsive pour mobile */

  @media (max-width: 1024px) {
    .carousel-btn {
        font-size: 1.5rem;
        padding: 0.4rem 0.8rem;
        width: 1rem;
      }
  }

  @media screen and (max-width: 768px) {  
    .carousel-btn {
      font-size: 1.5rem;
      padding: 0.4rem 0.8rem;
      width: 1rem;
    }
    .carousel-btn img{
      width: 50px;
      height: 50px;
    }
    .project-card{
        width: 315px;
        height: 600px;
    }
  }








.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}


.tag {
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: bold;
    background-color: transparent;
    color: var(--color-neutral);
    margin-bottom: 2rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  
  /* Moteurs de jeu */
  .tag.engine {
    background-color: #3b58d0; /* violet - Unity / Unreal */
  }
  
  /* Langages de programmation */
  .tag.language {
    background-color: #5d34b0; /* orange - JS, Blueprint, C# */
  }
  
  /* Plateformes */
  .tag.platform {
    background-color: #b03434; /* vert - PC, Web, Mobile */
  }




  /* More Projects Btn */

.more-projects-section {
  text-align: center;
  margin-top: 1rem;
}

.more-projects-btn {
  display: flex;
  background-color: transparent; /* Couleur de fond */
  color: var(--color-secondary);
  padding: 1.5rem 3rem;
  border: 4px solid var(--color-secondary);
  border-radius: 50px;
  border-color: var(--color-secondary);
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 1.8rem;
  font-family: var(--font-secondary);
  align-items: center;
}

.more-projects-btn:hover {
  background-color: var(--color-secondary); /* Couleur au survol */
  color: var(--color-main);
}


.more-projects-section .icon {
    width: 20px;   /* Largeur de l'icône */
    height: 20px;  /* Hauteur de l'icône */
    margin-right: 8px; /* Espace entre l'icône et le texte */
    margin-left: 8px; /* Espace entre l'icône et le texte */
}



/* All Projects Section */

#all-projects{
    background-image: url(../Image/BackgroundBreak_4.png); 
    background-size:2000px 2700px; 
    background-position: -200px right; 
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: var(--color-neutral);
}

#all-projects .container{
    background-color: transparent;
}
.all-projects {
    color: var(--color-main);
}

.project-category {
  margin-bottom: 4rem;
  width: 100%;
}

.category-title {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  margin-left: 5rem;
  color: var(--color-secondary);
  text-align: left;
  padding-left: 1rem;
  font-family: var(--font-main);
}

#all-projects .details-title p{
  font-family: var(--font-main);
}

.category-title span{
    color: var(--color-main);
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem;
  justify-content: flex-start;
}

.project-thumbnail {
  width: calc(33.333% - 2rem);
  height: 350px;
  background-color: #1e1e1e;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
  margin-right: 2rem;
}

.project-thumbnail img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5); /* superposition colorée */
  color: var(--color-neutral);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1rem;
  text-align: center;
}

.overlay .details-title p{
    font-size: 6rem;
    margin-bottom: 4rem;
    color: var(--color-neutral);
}

.overlay .details p{
    font-size: 2rem;
    font-family: var(--font-secondary);
    margin-bottom: 2rem;
}

.project-thumbnail:hover {
  transform: scale(1.03);
}

.project-thumbnail:hover .overlay {
  opacity: 1;
}


/* Responsive Media */
@media (max-width: 1100px) {
  .project-thumbnail {
    width: calc(50% - 1rem);
  }

.project-grid {
  flex-direction: column;
}

.project-thumbnail {
  width: 100%;
}
}

@media (max-width: 768px) {
    .overlay .details-title p{
        font-size: 3rem;
        margin-bottom: 4rem;
        color: var(--color-neutral);
    }

    .overlay .details p{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
}







.projects-row{
    align-self: center;
    justify-content: center;
    align-items: center;
}


.project-cover{
    width: 450px;
    height: 253.125px;
    align-self: center;
    padding: 0 20px;
    margin-bottom: 150px;
}

.project-cover-2{
    width: 450px;
    height: 253.125px;
    align-self: center;
    padding: 0 20px;
    margin-bottom: 150px;
}

.cover{
    height: 253.125px;
}

.project-cover-current{
    width: 450px;
    height: 253.125px;
    align-self: center;
    padding: 0 20px;
    margin-bottom: 150px;
}

.project-cover-current .cover{
    height: 253.125px;
}
.cover img{
    border-radius: 10px;
    border: var(--color-neutral);
    transition: ease-out 0.3s;

}
.cover img:hover{
    scale: 1.03;

}
.cover-info{
    color: var(--color-neutral);
    align-items: center;
    margin: 20px 0;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}

.details p{
    color: var(--color-neutral);
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    margin-top: -8px;
    font-family: var(--font-secondary);
}

.cover-info span{
    margin-right: 10px;
    padding: 3px 7px;
    border-radius: 5px;
    background-color: #20f342;
    text-align: center;
    font-weight: 500;
}

.project-cover:nth-child(1) .cover-info span:nth-child(1) {
    background-color: #3b58d0;
}
.project-cover:nth-child(1) .cover-info span:nth-child(2) {
    background-color: #5d34b0;
}
.project-cover:nth-child(1) .cover-info span:nth-child(3) {
    background-color: #b03434;
}
.project-cover:nth-child(1) .cover-info span:nth-child(4) {
    background-color: #b09334;
}


.project-cover:nth-child(2) .cover-info span:nth-child(1) {
    background-color: #3b58d0;
}
.project-cover:nth-child(2) .cover-info span:nth-child(2) {
    background-color: #5d34b0;
}
.project-cover:nth-child(2) .cover-info span:nth-child(3) {
    background-color: #b03434;
}
.project-cover:nth-child(2) .cover-info span:nth-child(4) {
    background-color: #b03434;
}


.project-cover:nth-child(3) .cover-info span:nth-child(1) {
    background-color: #3b58d0;
}
.project-cover:nth-child(3) .cover-info span:nth-child(2) {
    background-color: #5d34b0;
}
.project-cover:nth-child(3) .cover-info span:nth-child(3) {
    background-color: #b03434;
}
.project-cover:nth-child(3) .cover-info span:nth-child(4) {
    background-color: #b03434;
}



.project-cover-2:nth-child(1) .cover-info span:nth-child(1) {
    background-color: #3b58d0;
}
.project-cover-2:nth-child(1) .cover-info span:nth-child(2) {
    background-color: #5d34b0;
}
.project-cover-2:nth-child(1) .cover-info span:nth-child(3) {
    background-color: #b03434;
}
 .project-cover-2:nth-child(1) .cover-info span:nth-child(4) {
    background-color: #b09334;
}


 .project-cover-2:nth-child(2) .cover-info span:nth-child(1) {
    background-color: #3b58d0;
}
 .project-cover-2:nth-child(2) .cover-info span:nth-child(2) {
    background-color: #5d34b0;
}
 .project-cover-2:nth-child(2) .cover-info span:nth-child(3) {
    background-color: #b03434;
}
 .project-cover-2:nth-child(2) .cover-info span:nth-child(4) {
    background-color: #b09334;
}


 .project-cover-current .cover-info span:nth-child(1) {
    background-color: #3b58d0;
}
 .project-cover-current .cover-info span:nth-child(2) {
    background-color: #5d34b0;
}
 .project-cover-current .cover-info span:nth-child(3) {
    background-color: #b03434;
}
 .project-cover-current .cover-info span:nth-child(4) {
    background-color: #b09334;
}




 .project-footer {
    background-image: linear-gradient(60deg, #121834 0%, #202431 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 10px;
    margin-top: -30px;
}
 .project-footer h1{
    font-size: 1.5rem;
    font-family: var(--font-main);
    color: #ffffff;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 20px;
    transition: 0.3s ease transform;
    font-weight: 400;
}
 .project-footer:hover h1{
    transform: scale(1.05);
}


 h1 span{
    color: var(--color-main);
}

/* End Projects section */

/* About Section */
#about {
    background-color: var(--color-neutral);
    padding: 100px 0;
}
#about .about {
    flex-direction: column-reverse;
    max-width: 1750px;
    text-align: center;
    color : var(--color-neutral);
    margin: 0 auto;
    padding: 100px 20px;
    border-radius: 25px;  
    background-size: contain;
    background-color: var(--color-neutral);
    background-image: linear-gradient(60deg, #0b7a85 0%, var(--color-soft-main) 100%);
}
#about .section-title
{
    color : var(--color-neutral);
}
#about .col-left {
    width: 250px;
    height: 360px;
}
#about .col-right {
    width: 100%;
}
#about .col-right h2 {
    color : var(--color-neutral);
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
}
#about .col-right p {
    color : var(--color-neutral);
    margin-bottom: 20px;
    position: relative;
    font-family: var(--font-secondary);
}
#about .col-right .cta {
    color : var(--color-neutral);
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .col-right .cv{
    display: flex;
}

#about .section-title span{
    color: var(--color-secondary);
}
#about .col-right .cv p{
    color : var(--color-neutral);
    margin-top: 20px;
    position: relative;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-secondary);
    background-image: linear-gradient(90deg, #ffa264 0%, var(--color-secondary) 100%);
    border-radius: 5px;
    padding: 12px 25px;
    text-align: center;
}


/* End About Section */

/* contact Section */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}
#contact .container {
    padding-bottom: 20px;
}
#contact .section-title{
    color: var(--color-neutral);
}
#contact {
    background-color: var(--color-neutral);
}
#contact .contact-items {
    /* max-width: 400px; */
    width: 100%;
}
#contact .section-title
{
    margin-bottom: 50px;
    margin-top: 50px;
    color: var(--color-secondary)
}
#contact .contact-item {

    text-align: center;
    border-radius: 10px;
    padding: 40px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-neutral);
    background-image: linear-gradient(90deg, #ffa264 0%, var(--color-secondary) 100%);
}
#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .icon img{
    width: 60px;
}
#contact .contact-info h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
    font-family: var(--font-main);
}
#contact .contact-info h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

/*End contact Section */

/* Footer */
#footer {
    background-image: linear-gradient(0deg, var(--color-soft-secondary) 0%, var(--color-neutral) 100%);
}
#footer .footer {
    min-height: 100px;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 10px;
}
#footer h2 {
    color: var(--color-main);
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer h1{
    color: var(--color-secondary);
    font-family: var(--font-main);
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item {
    height: 40px;
    width: 40px;
    margin: 0 5px;
}
#footer .social-item img {
    filter: grayscale(1);
    transition: 0.3s ease filter;
}
#footer .social-item:hover img {
    filter: grayscale(0);
}
#footer p {
    color: var(--color-neutral);
    font-size: 1.3rem;
}
/* End Footer */


@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: var(--color-secondary);
    }
}
@keyframes text_reveal_button {
    100% {
        color: #ffffff;
    }
}
@keyframes text_reveal_name {
    100% {
        color: var(--color-secondary);
    }
}
@keyframes video_reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title {
        font-size: 6rem;
    }

    /* Hero */
    #hero h1 {
        font-size: 6rem;
    }
    #hero h2 {
        font-size: 5rem;
    }
    #hero h3 {
        font-size: 5rem;
    }
    
    /* End Hero */

    /* Services Section */
    #services .service-bottom .service-item {
        flex-basis: 45%;
        margin: 2.5%;
    }
    /* End Services Section */

    /* Project */
     .project-item {
        flex-direction: row;
    }
     .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
     .project-item {
        height: 500px;
        margin: 10px;
        width: 100%;
        border-radius: 0%;
    }
     .all-projects .project-info {
        height: 100%;
    }

     .all-projects .project-img {
        height: 100%;
    }
     .project-footer {
        width: 40%;
    }
     .project-footer h1{
        font-size: 3rem;
    }

     .project-cover-current{
        width: 1000px;
        height: 253.125px;
        align-self: center;
        padding: 0 20px;
        margin-bottom: 175px;
    }

     .project-cover-current .cover{
        height: 300px;
    }
    /* End Project */

    /* About */
    #about .about {
        flex-direction: row;
    }
    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid var(--color-main);
    }
    #about .col-right {
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1 {
        text-align: left;
    }
    /* End About */

    /* contact  */
    #contact .section-title
    {
        margin-top: 0px;
    }

    #contact .contact {
        flex-direction: column;
        padding: 5px 0;
        align-items: center;
        justify-content: center;
        min-width: 15vh;
    }
    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    #contact .contact-item {
        width: 30%;
        margin: 0;
        flex-direction: row;
    }
    #contact .contact-item .icon {
        height: 100px;
        width: 100px;
    }
    #contact .contact-item .icon img {
        object-fit: contain;
    }
    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    /* End contact  */

     .project-cover{
        margin: 50px 0;
    }

     .projects-row{
        display: flex;
        align-self: center;
        margin-bottom: 100px;
        justify-content: center;
        width: 95%;
    }
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
    /* header */
    #header .hamburger {
        display: none;
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a {
        font-size: 1.8rem;
    }
    #header .nav-list ul a:after {
        display: none;
    }
    /* End header */

    #services .service-bottom .service-item {
        flex-basis: 22%;
        margin: 1.5%;
    }

    #about .col-right p {
        margin-right: 400px;
        font-size: 18px;
    }
    #about .col-right h2 {
        font-size: 28px;
    }

     .project-footer h1{
        font-size: 3.5rem;
    }

    #contact .section-title
    {
        margin-top: 0;
    }
     .project-cover{
        margin: 50px 0;
    }

     .projects-row{
        display: flex;
        align-self: center;
        margin-bottom: 100px;
        justify-content: center;
        width: 95%;
    }
}
/* End  Media Query For Desktop */

@media screen and (max-width: 768px) {
  #hero .hero-details{
    display: none;
  }

  #about .about-img{
    margin-top: 4rem;
  }
#about .container{
    padding:30px 20px;
}
}

